.about .presentation {
    max-width: 60vw;
    margin-top: 0;
}

.about .presentation .pp {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 36px;
}

.about .presentation .name {
    font-size: 4em;
    margin: 0;
}

.about .presentation .short {
    color: var(--gray);
    font-style: italic;
    font-size: 1em;
}

.about .presentation .welcome {
    font-size: 2em;
    margin: 64px 0 32px 0;
}