@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

:root {
    --black: #000000;
    --gray: #1b1b1b;
    --white: #ffffff;
    --main-color-gradient-1: #fff0f3;
    --main-color-gradient-2: #ffccd5;
    --main-color-gradient-3: #ffb3c1;
    --main-color-gradient-4: #ff8fa3;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

p, li {
    font-size: 1.4em;
}

footer {
    width: 100%;
    height: 25vh;
    background-color: var(--white);
}
