.timeline {
    position: relative;
    min-width: 1200px;
    width: fit-content;
    margin: 0 auto;
    text-align: start;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* circle */
.timeline .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: var(--white);
    border: 4px solid var(--main-color-gradient-4);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.timeline .left {
    left: 0;
}

.timeline .right {
    left: 50%;
    transform: translateX(-3px); /* Center the circle (half of the line width) */
    z-index: 10;
}

/* arrow */
.timeline .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 31px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* arrow */
.timeline .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 31px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.timeline .right::after {
    left: -14px;
}

.timeline .container .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.timeline .container .content .title {
    margin-bottom: 0;
}

.timeline .container .content .years {
    color: var(--gray);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1em;
}
