.projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: start;
    z-index: 10;
}

.projects .card {
    width: 30%;
    min-width: 240px;
    height: 440px;
    padding: 20px;
    background-color: var(--white);
    border-radius: 12px;
    flex-direction: column;
    margin: 24px 0;
    cursor: pointer;
    border: 2px solid var(--white);
    position: relative;
    transition: transform 1s, border .2s;
    transform-style: preserve-3d;
}

.projects .card:hover {
    border: 2px solid var(--main-color-gradient-4)
}

.projects .card-face {
    position: relative;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}


.projects .card .front {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    text-wrap: balance;
    overflow: hidden;
}

.projects .card .back {
    transform: rotateY(180deg);
    left: 0;
    top: -100%;

    overflow: auto;
}

.projects .card.is-flipped {
    transform: rotateY(180deg);
}

.projects .card .preview {
    z-index: 15;
    border-radius: 12px;
    width: 100%;
    height: auto;
    max-height: 220px;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: 0.3s;
    /* margin: auto; */
}

.projects .card .preview:hover {
    opacity: 0.6;
}

.projects .card .tags {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.projects .card .tags .tag {
    border-radius: 12px;
    background-color: var(--main-color-gradient-4);
    color: var(--white);
    padding: 4px 8px;
    margin: 4px 8px 4px 0;
}

.projects .card .name {
    margin: 0;
    font-size: 1.8vmax;
}

.projects .card .date {
    font-style: italic;
    display: block;
}

.projects .card .info {
    text-overflow: ellipsis;
}

.projects .card .link {
    font-size: 1rem;
    display: block;
    width: 100%;
    font-style: italic;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--main-color-gradient-4)
}

.projects .card .link:hover {
    font-style: normal;
    font-weight: bold;
}

